#shi
build/
bin/
obj/
out/
*.o
*.obj
*.exe
*.out
*.so
*.dll
*.a
wEditor

#cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

#ide
.idea/
*.iml
.vs/
*.suo
*.user
*.vcxproj.user
*.code-workspace

#macOS files
.DS_Store
*.xcworkspace
*.xcuserdata

#log files
*.log
*.tmp
*.swp
*~

#wxWidgets build files
*.dbg
*.out
*.app